/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #ffbc2c;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.carousel{
  display: flex;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 170px;
  left: 0px;
  font-size: 40px;
  justify-content: center;
  font-weight: 600;
  text-shadow: 2px 2px #846726;
  overflow: hidden;

}
.dynamic{
position: relative;
margin-left: 10px;
animation: carousel 8s ease-in-out infinite;
}

@keyframes carousel {
  0%,20%{
    transform: translateY(0px);
  }
  25%,45%{
    transform: translateY(-54.4px);
  }
  50%,70%{
    transform: translateY(-108.8px);
  }
  75%,95%{
    transform: translateY(-163.2px);
  }
  100%{
    transform: translateY(-217.6px);
  }

}