/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

$speed: 7s;
$numberOfLeafs: 16; // update together with html
$leafShadow: -5px -5px 1px 0 rgba(0,0,0,0.06);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #16A078;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flower {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 175px;
	left: 175px;
	transition: all .5s ease-in-out;
}

.dot {
		position: absolute;
		z-index: 5;
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
		background: #f1c40f;
		border-radius: 50%;
		opacity: 0.8;
		transform: scale(0);
		transition: opacity .5s ease-in-out;
		animation: dot $speed ease-in-out infinite;
}

.petal {
	position: absolute;
	z-index: 1;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 2px 50px;
	opacity: 0.8;
	transition: all .5s ease-in-out;
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}


@for $i from 0 through ($numberOfLeafs - 1) {
	$angle: 360 / $numberOfLeafs;
	.petal-#{$i} {
		transform: rotate( ( $i * $angle )+deg ) translateY(0);
		animation: petal-#{$i} $speed ease infinite;
	}

	.flower {
		animation: flower $speed ease infinite;
	} 
	
	@keyframes petal-#{$i} {
		$percentIn: ( $i * (45 / $numberOfLeafs) ) + 10;
		$percentOut: 75;
		0%,100% {
			transform: rotate( ( $i * $angle )+deg ) translateY(0);
		}
		
		#{$percentIn}% {
			transform: rotate( ( $i * $angle )+deg ) translate(-35px, -35px) scale(2);
			box-shadow: $leafShadow;
		}
		
		60% {
			transform: rotate( ( $i * $angle )+deg ) translate(-35px, -35px) scale(2);
			box-shadow: $leafShadow;
		}
		
		#{$percentOut}% {
			transform: rotate( ( $i * $angle )+deg ) translate(-35px, -35px) scale(2);
			box-shadow: $leafShadow;
		}
		
	}
	
}

@keyframes flower {
	0% {
		transform: rotate(0);
	}
	60% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dot {
	12% {
		transform: scale(0);
	}
	20% {
		transform: scale(1.1);
	}
	25% {
		transform: scale(0.95);
	}
	30%, 55% {
		transform: scale(1);
	}
	57.9% {
		transform: scale(1.1);
	}
	70% {
		transform: scale(0);
	}
}
