/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #c949e5;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.line{
    position: absolute;
    top: 167.5px;
    left: 0px;
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    animation: line 3s ease-out infinite;
}

.circle{
    position: absolute;
    left: 185px;
    top: 185px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    animation: circle 3s ease-out infinite;
}

@keyframes line {
    from{
        stroke-dasharray: 50px 660px;
        stroke-dashoffset: 780;
    }
    to{
        stroke-dasharray: 50px 660px;
    stroke-dashoffset: 70;
    }
}

@keyframes circle {
    0%,20%{
        transform: scale(0);
        opacity: 1;
    }
    35%,100%{
        transform: scale(1);
        opacity: 0;
    }
}

