/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* // use only the available space inside the 400x400 frame */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #ff6969;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cont {
  position: absolute;
  top: 100px;
  left: 100px;
  perspective: 450px;
}

.sphere-cont {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-25deg);
  transition: all 0.8s ease-in-out;
  transform-origin: 50% 50%;
}
.sphere-cont:hover {
  transform: rotateX(25deg);
}

.slice {
  background-color: #fff;
  border-radius: 50%;
  transform: rotateX(90deg);
  border: 2px solid #ff6969;
  position: absolute;
}

.slice-19 {
  width: 200px;
  height: 200px;
  left: 0;
  top: 0;
  transform: rotateX(90deg);
  animation: slice-21 6s ease-in-out infinite;
}

.slice-1 {
  width: 198px;
  height: 198px;
  left: 1px;
  top: 1px;
  transform: translateY(14.5px) rotateX(90deg);
  animation: slice-1 6s ease-in-out infinite;
}

.slice-10 {
  width: 198px;
  height: 198px;
  left: 1px;
  top: 1px;
  transform: translateY(-14.5px) rotateX(90deg);
  animation: slice-10 6s ease-in-out infinite;
}

@keyframes slice-1 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(18.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(12.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(15.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(14px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(14.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(18.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-10 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-18.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-12.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(-15.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(-14px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-14.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(-18.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-2 {
  width: 192px;
  height: 192px;
  left: 4px;
  top: 4px;
  transform: translateY(28px) rotateX(90deg);
  animation: slice-2 6s ease-in-out infinite;
}

.slice-11 {
  width: 192px;
  height: 192px;
  left: 4px;
  top: 4px;
  transform: translateY(-28px) rotateX(90deg);
  animation: slice-11 6s ease-in-out infinite;
}

@keyframes slice-2 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(36px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(24px) rotateX(90deg);
  }
  40% {
    transform: translateY(30px) rotateX(90deg);
  }
  45% {
    transform: translateY(27px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(28px) rotateX(90deg);
  }
  70% {
    transform: translateY(36px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-11 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-36px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-24px) rotateX(90deg);
  }
  40% {
    transform: translateY(-30px) rotateX(90deg);
  }
  45% {
    transform: translateY(-27px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-28px) rotateX(90deg);
  }
  70% {
    transform: translateY(-36px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-3 {
  width: 182px;
  height: 182px;
  left: 9px;
  top: 9px;
  transform: translateY(40.5px) rotateX(90deg);
  animation: slice-3 6s ease-in-out infinite;
}

.slice-12 {
  width: 182px;
  height: 182px;
  left: 9px;
  top: 9px;
  transform: translateY(-40.5px) rotateX(90deg);
  animation: slice-12 6s ease-in-out infinite;
}

@keyframes slice-3 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(52.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(34.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(43.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(39px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(40.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(52.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-12 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-52.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-34.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(-43.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(-39px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-40.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(-52.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-4 {
  width: 168px;
  height: 168px;
  left: 16px;
  top: 16px;
  transform: translateY(52px) rotateX(90deg);
  animation: slice-4 6s ease-in-out infinite;
}

.slice-13 {
  width: 168px;
  height: 168px;
  left: 16px;
  top: 16px;
  transform: translateY(-52px) rotateX(90deg);
  animation: slice-13 6s ease-in-out infinite;
}

@keyframes slice-4 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(68px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(44px) rotateX(90deg);
  }
  40% {
    transform: translateY(56px) rotateX(90deg);
  }
  45% {
    transform: translateY(50px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(52px) rotateX(90deg);
  }
  70% {
    transform: translateY(68px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-13 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-68px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-44px) rotateX(90deg);
  }
  40% {
    transform: translateY(-56px) rotateX(90deg);
  }
  45% {
    transform: translateY(-50px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-52px) rotateX(90deg);
  }
  70% {
    transform: translateY(-68px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-5 {
  width: 150px;
  height: 150px;
  left: 25px;
  top: 25px;
  transform: translateY(62.5px) rotateX(90deg);
  animation: slice-5 6s ease-in-out infinite;
}

.slice-14 {
  width: 150px;
  height: 150px;
  left: 25px;
  top: 25px;
  transform: translateY(-62.5px) rotateX(90deg);
  animation: slice-14 6s ease-in-out infinite;
}

@keyframes slice-5 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(82.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(52.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(67.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(60px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(62.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(82.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-14 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-82.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-52.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(-67.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(-60px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-62.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(-82.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-6 {
  width: 128px;
  height: 128px;
  left: 36px;
  top: 36px;
  transform: translateY(72px) rotateX(90deg);
  animation: slice-6 6s ease-in-out infinite;
}

.slice-15 {
  width: 128px;
  height: 128px;
  left: 36px;
  top: 36px;
  transform: translateY(-72px) rotateX(90deg);
  animation: slice-15 6s ease-in-out infinite;
}

@keyframes slice-6 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(96px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(60px) rotateX(90deg);
  }
  40% {
    transform: translateY(78px) rotateX(90deg);
  }
  45% {
    transform: translateY(69px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(72px) rotateX(90deg);
  }
  70% {
    transform: translateY(96px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-15 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-96px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-60px) rotateX(90deg);
  }
  40% {
    transform: translateY(-78px) rotateX(90deg);
  }
  45% {
    transform: translateY(-69px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-72px) rotateX(90deg);
  }
  70% {
    transform: translateY(-96px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-7 {
  width: 102px;
  height: 102px;
  left: 49px;
  top: 49px;
  transform: translateY(80.5px) rotateX(90deg);
  animation: slice-7 6s ease-in-out infinite;
}

.slice-16 {
  width: 102px;
  height: 102px;
  left: 49px;
  top: 49px;
  transform: translateY(-80.5px) rotateX(90deg);
  animation: slice-16 6s ease-in-out infinite;
}

@keyframes slice-7 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(108.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(66.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(87.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(77px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(80.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(108.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-16 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-108.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-66.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(-87.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(-77px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-80.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(-108.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-8 {
  width: 72px;
  height: 72px;
  left: 64px;
  top: 64px;
  transform: translateY(88px) rotateX(90deg);
  animation: slice-8 6s ease-in-out infinite;
}

.slice-17 {
  width: 72px;
  height: 72px;
  left: 64px;
  top: 64px;
  transform: translateY(-88px) rotateX(90deg);
  animation: slice-17 6s ease-in-out infinite;
}

@keyframes slice-8 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(120px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(72px) rotateX(90deg);
  }
  40% {
    transform: translateY(96px) rotateX(90deg);
  }
  45% {
    transform: translateY(84px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(88px) rotateX(90deg);
  }
  70% {
    transform: translateY(120px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-17 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-120px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-72px) rotateX(90deg);
  }
  40% {
    transform: translateY(-96px) rotateX(90deg);
  }
  45% {
    transform: translateY(-84px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-88px) rotateX(90deg);
  }
  70% {
    transform: translateY(-120px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
.slice-9 {
  width: 38px;
  height: 38px;
  left: 81px;
  top: 81px;
  transform: translateY(94.5px) rotateX(90deg);
  animation: slice-9 6s ease-in-out infinite;
}

.slice-18 {
  width: 38px;
  height: 38px;
  left: 81px;
  top: 81px;
  transform: translateY(-94.5px) rotateX(90deg);
  animation: slice-18 6s ease-in-out infinite;
}

@keyframes slice-9 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(130.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(76.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(103.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(90px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(94.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(130.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes slice-18 {
  0%, 19% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
  20% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  30% {
    transform: translateY(-130.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  35% {
    transform: translateY(-76.5px) rotateX(90deg);
  }
  40% {
    transform: translateY(-103.5px) rotateX(90deg);
  }
  45% {
    transform: translateY(-90px) rotateX(90deg);
  }
  50%, 65% {
    transform: translateY(-94.5px) rotateX(90deg);
  }
  70% {
    transform: translateY(-130.5px) rotateX(90deg);
    border: 2px solid #ff6969;
  }
  80% {
    transform: translateY(0) rotateX(90deg);
    opacity: 1;
    border: 2px solid #fff;
  }
  81%, 100% {
    transform: translateY(0) rotateX(90deg);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */