/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* // use only the available space inside the 400x400 frame */
.frame {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4B4841;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
}

.container {
  width: 320px;
  height: 180px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #FFCE4E;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: all 1.5s ease-in-out;
  perspective: 1000px;
}

.container:hover .card {
  transform: rotateX(180deg);
  box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
}

.front {
  transform-style: preserve-3d;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  top: 52px;
}

.front img {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* position: relative; */
  transform-origin: 50% 100%;
  animation: bikego 0.5s ease-in-out infinite;
}

.back {
  transform-style: preserve-3d;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  transform: rotateX(180deg);
  bottom: 22px;
}

.back img {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  
  animation: heligo 0.5s ease-in-out infinite;
}

.street {
  position: absolute;
  top: 75px;
  left: 80px;
  width: 160px;
  height: 3px;
  overflow: hidden;
}
.street .stripe-1 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 4px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.6s infinite;
}
.street .stripe-2 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 6px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.9s infinite;
}
.street .stripe-3 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 8px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.3s infinite;
}
.street .stripe-4 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 10px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.6s infinite;
}
.street .stripe-5 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 12px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.1s infinite;
}
.street .stripe-6 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 14px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 0.6s infinite;
}
.street .stripe-7 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 16px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.5s infinite;
}
.street .stripe-8 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 18px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 0.9s linear 1s infinite;
}
.street .stripe-9 {
  position: absolute;
  right: -25px;
  top: 0;
  height: 3px;
  width: 20px;
  background: #4B4841;
  border-radius: 3px;
  animation: street 1s linear 0.1s infinite;
}

.sky {
  position: absolute;
  top: -50px;
  left: 80px;
  bottom: -30px;
  width: 160px;
  overflow: hidden;
}
.sky .cloud-1 {
  position: absolute;
  right: -25px;
  top: 34px;
  height: 3px;
  width: 15.2px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.9s infinite;
}
.sky .cloud-2 {
  position: absolute;
  right: -25px;
  top: 48px;
  height: 3px;
  width: 11.1px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 1s infinite;
}
.sky .cloud-3 {
  position: absolute;
  right: -25px;
  top: 62px;
  height: 3px;
  width: 19.1px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.7s infinite;
}
.sky .cloud-4 {
  position: absolute;
  right: -25px;
  top: 76px;
  height: 3px;
  width: 16.8px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.5s infinite;
}
.sky .cloud-5 {
  position: absolute;
  right: -25px;
  top: 90px;
  height: 3px;
  width: 23.6px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.3s infinite;
}
.sky .cloud-6 {
  position: absolute;
  right: -25px;
  top: 104px;
  height: 3px;
  width: 18.8px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.9s infinite;
}
.sky .cloud-7 {
  position: absolute;
  right: -25px;
  top: 118px;
  height: 3px;
  width: 20.9px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.7s linear 0.2s infinite;
}
.sky .cloud-8 {
  position: absolute;
  right: -25px;
  top: 132px;
  height: 3px;
  width: 13px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.8s infinite;
}
.sky .cloud-9 {
  position: absolute;
  right: -25px;
  top: 146px;
  height: 3px;
  width: 19px;
  background: #4B4841;
  border-radius: 3px;
  animation: cloud 0.8s linear 0.9s infinite;
}

@keyframes bikego {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}
@keyframes heligo {
  0%, 100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
}
@keyframes street {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}
@keyframes cloud {
  0% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  100% {
    transform: translate3d(-210px, 0, 0) scaleX(0.8);
  }
}/*# sourceMappingURL=style.css.map */