/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* // use only the available space inside the 400x400 frame */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #349ea0;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.base {
  width: 300px;
  height: 300px;
  top: 50px;
  left: 50px;
  position: absolute;
}

.ellipse {
  position: absolute;
  top: 0px;
  left: 105px;
  width: 90px;
  height: 300px;
  border: #fff solid 1px;
  border-radius: 50%;
}

.ellipse-1 {
  animation: ellipse-1 5s ease-in-out infinite;
}

@keyframes ellipse-1 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(0deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-2 {
  animation: ellipse-2 5s ease-in-out infinite;
}

@keyframes ellipse-2 {
  0% {
    transform: rotate(10deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-10deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-3 {
  animation: ellipse-3 5s ease-in-out infinite;
}

@keyframes ellipse-3 {
  0% {
    transform: rotate(20deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-20deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-4 {
  animation: ellipse-4 5s ease-in-out infinite;
}

@keyframes ellipse-4 {
  0% {
    transform: rotate(30deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-30deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-5 {
  animation: ellipse-5 5s ease-in-out infinite;
}

@keyframes ellipse-5 {
  0% {
    transform: rotate(40deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-40deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-6 {
  animation: ellipse-6 5s ease-in-out infinite;
}

@keyframes ellipse-6 {
  0% {
    transform: rotate(50deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-50deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-7 {
  animation: ellipse-7 5s ease-in-out infinite;
}

@keyframes ellipse-7 {
  0% {
    transform: rotate(60deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-60deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-8 {
  animation: ellipse-8 5s ease-in-out infinite;
}

@keyframes ellipse-8 {
  0% {
    transform: rotate(70deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-70deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-9 {
  animation: ellipse-9 5s ease-in-out infinite;
}

@keyframes ellipse-9 {
  0% {
    transform: rotate(80deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-80deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-10 {
  animation: ellipse-10 5s ease-in-out infinite;
}

@keyframes ellipse-10 {
  0% {
    transform: rotate(90deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-90deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-11 {
  animation: ellipse-11 5s ease-in-out infinite;
}

@keyframes ellipse-11 {
  0% {
    transform: rotate(100deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-100deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-12 {
  animation: ellipse-12 5s ease-in-out infinite;
}

@keyframes ellipse-12 {
  0% {
    transform: rotate(110deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-110deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-13 {
  animation: ellipse-13 5s ease-in-out infinite;
}

@keyframes ellipse-13 {
  0% {
    transform: rotate(120deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-120deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-14 {
  animation: ellipse-14 5s ease-in-out infinite;
}

@keyframes ellipse-14 {
  0% {
    transform: rotate(130deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-130deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-15 {
  animation: ellipse-15 5s ease-in-out infinite;
}

@keyframes ellipse-15 {
  0% {
    transform: rotate(140deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-140deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-16 {
  animation: ellipse-16 5s ease-in-out infinite;
}

@keyframes ellipse-16 {
  0% {
    transform: rotate(150deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-150deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-17 {
  animation: ellipse-17 5s ease-in-out infinite;
}

@keyframes ellipse-17 {
  0% {
    transform: rotate(160deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-160deg);
    border-radius: 50%;
    border-width: 1px;
  }
}
.ellipse-18 {
  animation: ellipse-18 5s ease-in-out infinite;
}

@keyframes ellipse-18 {
  0% {
    transform: rotate(170deg);
    border-radius: 50%;
    border-width: 1px;
  }
  50% {
    transform: rotate(0) scaleX(3.3333333333);
    border-radius: 0%;
  }
  100% {
    transform: rotate(-170deg);
    border-radius: 50%;
    border-width: 1px;
  }
}/*# sourceMappingURL=style.css.map */