/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #bc2970;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ball{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 175px;
  background-color: #fff;
  animation: ball 2s ease-in-out infinite;
}

.blur{
  position: absolute;
  border-radius: 50%;
  background: #fff;
  width: 50px;
  aspect-ratio: 1;
}

@for $i from 1 through 6{
  .blur-#{$i}{
    opacity: (1/($i+4));
    animation: blur-#{$i} 2s ease-in-out infinite;
  }

  @keyframes blur-#{$i} {
    0%,50%,100%{
      transform: translateX(0px);
    }
    25%{
      transform: translateX(-($i * 5) + px);
    }
    75%{
      transform: translateX(($i * 5) + px);
    }
  }
}

@keyframes ball {
  0%,100%{
    transform: translateX(-150px);
  }
  50%{
    transform: translateX(150px);
  }
}
