/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
/* // use only the available space inside the 400x400 frame */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #5b9099;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 180px;
  left: 180px;
  background-color: #fff;
}

.line-1 {
  animation: line-1 10s ease-in-out infinite;
}

@keyframes line-1 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(0deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(0deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(0deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(0deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(0deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(0deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(0deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(0deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(0deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(0deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(0deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(0deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(0deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(0deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(0deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(0deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-2 {
  animation: line-2 10s ease-in-out infinite;
}

@keyframes line-2 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(36deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(36deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(36deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(36deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(36deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(36deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(36deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(36deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(36deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(36deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(36deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(36deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(36deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(36deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(36deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(36deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-3 {
  animation: line-3 10s ease-in-out infinite;
}

@keyframes line-3 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(72deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(72deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(72deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(72deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(72deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(72deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(72deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(72deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(72deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(72deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(72deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(72deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(72deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(72deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(72deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(72deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-4 {
  animation: line-4 10s ease-in-out infinite;
}

@keyframes line-4 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(108deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(108deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(108deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(108deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(108deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(108deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(108deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(108deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(108deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(108deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(108deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(108deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(108deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(108deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(108deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(108deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-5 {
  animation: line-5 10s ease-in-out infinite;
}

@keyframes line-5 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(144deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(144deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(144deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(144deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(144deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(144deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(144deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(144deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(144deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(144deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(144deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(144deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(144deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(144deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(144deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(144deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-6 {
  animation: line-6 10s ease-in-out infinite;
}

@keyframes line-6 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(180deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(180deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(180deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(180deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(180deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(180deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(180deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(180deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(180deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(180deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(180deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(180deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(180deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(180deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(180deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(180deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-7 {
  animation: line-7 10s ease-in-out infinite;
}

@keyframes line-7 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(216deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(216deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(216deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(216deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(216deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(216deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(216deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(216deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(216deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(216deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(216deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(216deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(216deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(216deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(216deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(216deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-8 {
  animation: line-8 10s ease-in-out infinite;
}

@keyframes line-8 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(252deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(252deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(252deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(252deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(252deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(252deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(252deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(252deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(252deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(252deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(252deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(252deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(252deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(252deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(252deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(252deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-9 {
  animation: line-9 10s ease-in-out infinite;
}

@keyframes line-9 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(288deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(288deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(288deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(288deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(288deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(288deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(288deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(288deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(288deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(288deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(288deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(288deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(288deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(288deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(288deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(288deg) translate(0, -300px) scale(0.1, 0.5);
  }
}
.line-10 {
  animation: line-10 10s ease-in-out infinite;
}

@keyframes line-10 {
  0% {
    transform: rotate(0) translate(0, 0) scale(0.01);
  }
  5% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  15% {
    transform: rotate(324deg) translate(0, 0) scale(1);
  }
  20% {
    transform: rotate(324deg) translate(0, -100px) scale(0.25, 1);
  }
  25% {
    transform: rotate(324deg) translate(0, -100px) scale(0.25, 0.25) rotate(179deg);
  }
  30% {
    transform: rotate(324deg) translate(0, -100px) scale(1, 0.25) rotate(179deg);
  }
  35% {
    transform: rotate(324deg) translate(0, -60px) scale(1, 0.1);
  }
  40% {
    transform: rotate(324deg) translate(0, -60px) scale(1, 0.1) translate(-30px, 0);
  }
  45% {
    transform: rotate(324deg) translate(0, -60px) scale(1, 0.1) translate(30px, 0);
  }
  50% {
    transform: rotate(324deg) translate(0, -60px) scale(0.1, 1);
  }
  55% {
    transform: rotate(324deg) translate(0, -60px) scale(0.5, 0.1);
    border-radius: 0;
  }
  60% {
    transform: rotate(324deg) translate(0, -80px) scale(0.5, 0.5) rotate(179deg);
    border-radius: 50%;
  }
  65% {
    transform: rotate(324deg) translate(0, 0) scale(0.2, 0.2);
    border-radius: 50%;
  }
  70% {
    transform: rotate(324deg) translate(0, -100px) scale(0.25, 1);
    border-radius: 0;
  }
  75% {
    transform: rotate(324deg) translate(0, -100px) scale(0.25, 0.25);
  }
  80% {
    transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5);
  }
  85% {
    transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(-50px, 50px);
  }
  90% {
    transform: rotate(324deg) translate(0, -30px) scale(0.5, 0.1);
  }
  95% {
    transform: rotate(324deg) translate(0, -10px) scale(0.1, 0.5);
  }
  100% {
    transform: rotate(324deg) translate(0, -300px) scale(0.1, 0.5);
  }
}/*# sourceMappingURL=style.css.map */