/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */

$bezierEdges: cubic-bezier(.19,.69,.4,1);
$bezierElements: cubic-bezier(.19,.69,.4,1);
$duration: 1.5s;
$numberOfSingleElements: 8; // sync with HTML
$c1: #f39c12;
$c2: #e67e22; 
$c3: #1abc9c; 

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #41485e;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .side{
    border-width: 100px;
    border-style: solid;
    top: 0px;
    left: 0px;
  }
  .up{
    position: relative;
    border-color: #5c91d5 transparent transparent transparent;
    animation: up $duration $bezierEdges infinite alternate;
  }
  .left{
    position: absolute;
    border-color: transparent transparent transparent #7ea9e1;
    animation: l $duration $bezierEdges infinite alternate;
  }
  .right{
    position: absolute;
    border-color: transparent #3e6aa3 transparent transparent;
    animation: r $duration $bezierEdges infinite alternate;
  }
  .down{
    position: absolute;
    border-color: transparent transparent #254978 transparent;
    animation: down $duration $bezierEdges infinite alternate;
  }


  .elements {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 85px;
    left: 85px;
  
    .square {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 5px;
  
      &.small {
        width: 10px;
        height: 10px;
        top: 10px;
        left: 10px;
      }
  
      &.big {
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
      }
  
      &.c1 {
        background: $c1;
      }
  
      &.c2 {
        background: $c2;
      }
  
      &.c3 {
        background: $c3;
      }
  
      @for $i from 1 through $numberOfSingleElements {
        &#{$i} {
          animation: square+($i) $duration $bezierElements infinite alternate; 
        }
      }
  
    }
  
    .circle {
      position: absolute;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-style: solid;
      border-width: 4px;
      top: 5px;
      left: 5px;
  
      &.small {
        width: 10px;
        height: 10px;
        border-width: 2px;
        top: 10px;
        left: 10px;
      }
  
      &.big {
        width: 30px;
        height: 30px;
        border-width: 8px;
        top: 0;
        left: 0;
      }
  
      &.c1 {
        border-color: $c1;
      }
  
      &.c2 {
        border-color: $c2;
      }
  
      &.c3 {
        border-color: $c3;
      }
  
      @for $i from 1 through $numberOfSingleElements {
        &#{$i} {
          animation: circle+($i) $duration $bezierElements infinite alternate; 
        }
      }
  
    }
  
  }
}


@keyframes square1 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(66px, 78px) rotate(110deg);
  }
}
@keyframes square2 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(46px, -141px) rotate(163deg);
  }
}
@keyframes square3 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(131px, -117px) rotate(126deg);
  }
}
@keyframes square4 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(91px, -94px) rotate(122deg);
  }
}
@keyframes square5 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(131px, -10px) rotate(111deg);
  }
}
@keyframes square6 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(-94px, -66px) rotate(125deg);
  }
}
@keyframes square7 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(-102px, 50px) rotate(139deg);
  }
}
@keyframes square8 {
  0%, 20% {
    transform: scale(0) translate(0) rotate(0);
  }
  100% {
    transform: scale(1) translate(-62px, 20px) rotate(118deg);
  }
}
@keyframes circle1 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(13px, -113px);
  }
}
@keyframes circle2 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(29px, -71px);
  }
}
@keyframes circle3 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(1px, -72px);
  }
}
@keyframes circle4 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(-62px, 132px);
  }
}
@keyframes circle5 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(18px, 86px);
  }
}
@keyframes circle6 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(62px, 15px);
  }
}
@keyframes circle7 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(74px, -25px);
  }
}
@keyframes circle8 {
  0%, 20% {
    transform: scale(0) translate(0);
  }
  100% {
    transform: scale(1) translate(95px, -45px);
  }
}

@keyframes up {
  0%,20%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(0px,-190px);
  }
  
}
@keyframes r {
  0%,20%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(190px,0px);
  }
  
}
@keyframes down {
  0%,20%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(0px,190px);
  }
  
}
@keyframes l {
  0%,20%{
    transform: translate(0px,0px);
  }
  100%{
    transform: translate(-190px,0px);
  }
  
}