/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #f4aa33;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;
    perspective: 1000px;
}

.cube{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    position: absolute;
    transform: translateZ(0px) rotateX( -45deg ) rotateZ( -45deg );
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.container:hover .cube{
    transform: translateZ(0px) rotateX( 140deg ) rotateZ( 135deg );
}

.side{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: aliceblue;
    border: #333 solid 2px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize
}

.bottom{
    transform: rotateX(-90deg) translateZ(100px);
}
.top{
    transform: rotateX(90deg) translateZ(100px);
}
.right{
    transform: rotateY(-90deg) translateZ(100px);
}
.left{
    transform: rotateY(90deg) translateZ(100px);
}
.back{
    transform: translateZ(-100px);
}
.front{
    transform: translateZ(100px);
}
