*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 800px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.frame{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #3FAF82;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
}

.hamburger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    /* background-color: blue; */
    cursor: pointer;
}

.line{
    width: 80px;
    height: 8px;
    background-color: white;
    border-radius: 3px;
    transition: all .5s ease-in-out ;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}

.line::before,
.line::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 8px;
    background-color: white;
    border-radius: 3px;
    transition: all .5s ease-in-out ;
    transform: translateX(40px);
}

.line::before{
    transform: translateY(-20px);
}

.line::after{
    transform: translateY(20px);
}

/* ANIMATION close in*/

.hamburger.open .line{
    transform: translateX(-18px);
    width: 40px;
    background: transparent;
    box-shadow: none;
}

.hamburger.open .line::before{
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    transform: translateY(1px);
}
.hamburger.open .line::after{
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    transform: translateY(-1px);
}

/* ANIMATION rotate */

.hamburger.rot .line::before{
    transform: rotate(45deg);
    
}

.hamburger.rot .line::after{
    transform: rotate(135deg);
}

